<% if @client.try(:errors).present? %><div class="alert alert-danger"><%= @client.errors.full_messages %></div><% end %>
<% if @order.errors.present? %><div class="alert alert-danger"><%= @order.errors.full_messages %></div><% end %>
<%= form_for [:admin, @order], html: { class: "form-horizontal" } do |f| %>

<table class="table table-bordered">
  <tr>
    <td>业务员姓名：</td>
    <td><%= @order.user.name %></td>
    <td>付款情况：</td>
    <td>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:status, "none") %> 未付款
      <% end %>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:status, "full") %> 已付款
      <% end %>
    </td>
  </tr>
  <%= f.fields_for :client, @client do |f_c| %>
  <tr>
    <td>手机号：</td>
    <td><%= f_c.telephone_field :cellphone, class: "form-control" %></td>
    <td>年龄：</td>
    <td><%= f_c.text_field :age, class: "form-control" %></td>
  </tr>
  <tr>
    <td>客户姓名：</td>
    <td><%= f_c.text_field :name, class: "form-control" %></td>
    <td>性别：</td>
    <td>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f_c.radio_button(:gender, "male") %> 男
      <% end %>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f_c.radio_button(:gender, "female") %> 女
      <% end %>
    </td>
  </tr>
  <tr>
    <td>邮箱：</td>
    <td><%= f_c.text_field :email, class: "form-control" %></td>
    <td>地址：</td>
    <td><%= f_c.text_field :address, class: "form-control" %></td>
  </tr>
  <tr>
    <td>备考信息：</td>
    <td colspan="3"><%= f_c.text_area :exam_info, class: "form-control" %></td>
  </tr>
  <% end %>
  <tr>
    <td>备注：</td>
    <td colspan="3"><%= f.text_area :remark, class: "form-control" %></td>
  </tr>
</table>

<table class="table table-bordered">
  <tr>
    <td>VIP卡绑定：</td>
    <td><%= text_field_tag :card_sn_inputer, @order.card.try(:sn), class: "form-control" %> <i class="icon-ok" style="display:none"></i><i class="icon-remove" style="display:none"></i></td>
    <td>班级设置：</td>
    <td><%= select_tag :squad_id_selector, options_from_collection_for_select(@squads, "id", "name", @order.card.try(:squad_id)), include_blank: true, class: 'form-control' %></td>
  </tr>
</table>

<% if current_user.admin? %>
<table class="table table-bordered">
  <tr>
    <td>订单确认状态：</td>
    <td>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:is_performed, false) %> 未确认
      <% end %>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:is_performed, true) %> 已确认
      <% end %>
    </td>
    <td>提成发放状态（￥）：</td>
    <td>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:is_paid, false) %> 未发放
      <% end %>
      <%= label_tag nil, class: "radio inline" do %>
      <%= f.radio_button(:is_paid, true) %> 已发放
      <% end %>
    </td>
  </tr>
</table>
<% end %>

<% if params[:action] != "show" %><center><%= f.submit '提交', class:"btn btn-primary" %></center><% end %>

<% end %>
<% content_for :js do %>
<script type="text/javascript">
  // 自动回填VIP卡号状态
  if($("#card_sn_inputer").val() != ""){
    $("#card_sn_inputer").siblings(".icon-ok").show();
  }

  // 自动回填客户信息
  $("#order_client_cellphone").change(function() {
    $.get("/ajax/get_client_by_cellphone", {
      cellphone: $(this).val()
    },function(data){
      $("#order_client_exam_info").val(data.exam_info);
      $("#order_client_name").val(data.name);
      $("#order_client_age").val(data.age);
      $("#order_client_email").val(data.email);
      $("#order_client_address").val(data.address);
      $("input[name='order[client][gender]'][value='" + data.gender + "']").attr("checked",true);
    }, "json");
  });

  // 设置VIP号
  $("#card_sn_inputer").keyup(function() {
    var $this = $(this);
    $("#card_sn_inputer").siblings(".icon-ok").hide();
    $("#card_sn_inputer").siblings(".icon-remove").show();
    if($this.val().length == 5){
      $.post("/ajax/set_order_card_sn", {
        order_id: "<%= @order.id %>",
        card_sn: $this.val()
      },function(result){
        if(result){
          $("#card_sn_inputer").siblings(".icon-remove").hide();
          $("#card_sn_inputer").siblings(".icon-ok").show();
        }
      }, "json");
    }
  })

  // 设置班级
  $("#squad_id_selector").change(function() {
    $.post("/ajax/set_order_squad", {
      order_id: "<%= @order.id %>",
      squad_id: $(this).val()
    },function(result){
      if(result){
        alert("班级设置成功");
      }else{
        alert("班级设置失败，请先绑定VIP卡号");
      }
    }, "json");
  })
</script>
<% end %>