<ol class="breadcrumb">
  <li class="active">订单列表</li>
</ol>
<div class="panel panel-default">
  <table class="table">
    <thead>
      <tr class="active">
        <th>业务员姓名</th>
        <th>客户姓名</th>
        <th>订单时间</th>
        <th>付款状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.user.name %></td>
        <td><%= order.client.name %></td>
        <td><%= order.created_at.to_date %></td>
        <td><%= order.status %></td>
        <td><%= link_to "查看", [:admin, order] %></td>
      </tr>
      </a>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @orders, :renderer => BootstrapPagination::Rails %>