<div class="banner-box">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol> -->

    <div class="carousel-inner">
      <div class="item active">
        <a href="#"><%= image_tag "1.jpg", class: "img-responsive" %></a>
        <div class="carousel-caption">
          <div class="banner-text">
            <h3><a href="#"> 万门华</a></h3>
            <p></p>
          </div>
        </div>
      </div>

      <div class="item">
        <a href="#"><%= image_tag "2.jpg", class: "img-responsive" %></a>
        <div class="carousel-caption">
          <div class="banner-text">
            <h3><a href="#"> 万门华</a></h3>
            <p></p>
          </div>
        </div>
      </div>
    </div>

    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

  </div>
</div>

<div class="main">
  <div class="content">
    <ul class="main-ul clearfix">
      <li>
        <%= image_tag "index_03.jpg" %>
        <div class="module-text">
          <h3 class="icon1">公司简介</h3>
          <p>公司专业团队多年致力于应试前规划、职业规划等方面的研究。在2010年初至2012年底...</p>
          <div class="clearfix"><%= link_to "更多...", info_path(2), class: "btn pull-right" %></div>
        </div>
      </li>
      <li>
        <%= image_tag "index_05.jpg" %>
        <div class="module-text">
          <h3 class="icon2">应试公关</h3>
          <p>所谓公关，及专业性服务。而应试公关，便是为个人为达到某项专业的能力...</p>
          <div class="clearfix"><%= link_to "更多...", info_path(5), class: "btn pull-right" %></div>
        </div>
      </li>
      <li>
        <%= image_tag "index_07.jpg" %>
        <div class="module-text">
          <h3 class="icon3">公司文化</h3>
          <p>公司的发展与个人的发展融为一体 在这里我们不仅仅是完善人才，更创造人才...</p>
          <div class="clearfix"><%= link_to "更多...", info_path(3), class: "btn pull-right" %></div>
        </div>
      </li>
      <li class="last-li">
        <%= image_tag "index_09.jpg" %>
        <div class="module-text">
          <h3 class="icon4">公司动态</h3>
          <ul>
            <li><a href="#">将来职业规划的重要考试将来职业规划的重要考试将来职业规划的重要考试</a></li>
            <li><a href="#">将来职业规划的重要考试...</a></li>
            <li><a href="#">将来职业规划的重要考试...</a></li>
          </ul>
          <div class="clearfix"><%= link_to "更多...", news_index_path, class: "btn pull-right" %></div>
        </div>
      </li>
    </ul>

    <div class="project-and-img clearfix">
      <div class="project pull-left">
        <div class="title"><h4>项目简介</h4></div>
        <div class="project-introduce clearfix">
          <div class="project-img pull-left"><%= image_tag "index_project.jpg" %></div>
          <div class="project-text pull-right">
            <p>本公司以专业的应试公关服务， 能够帮助考生更好地安排应试前的工作生活、整合与共享各类应试经验以及调整心态释放压力。</p>
            <p class="qustion">如果您面临的是可以影响你将来职业规划的重要考试，您改如何看待？ </p>
            <p class="qustion">如果您面临的是足以影响你人生的重大考试，您该如何面对？</p>
          </div>
        </div>
        <div class="saying clearfix">
          <div class="saying-text pull-left">
          <p>您的人生会在一次关卡与考验中成功。您的抉择、您在面对自己及家人时的态度，将会决定您所面对的未来、决定您的一生。</p>
          </div>
          <div class="saying-btn pull-right"><%= link_to "了解更多", info_path(1), class: "btn pull-right" %></div>
        </div>
      </div>
      <div class="img-list pull-right">
        <div class="title"><h4>讲座会议环境</h4></div>

        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
          <!-- <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol> -->

          <div class="carousel-inner">
            <div class="item active">
              <a href="#"><%= image_tag "huiyi_03.jpg", class: "img-responsive" %></a>
              <div class="carousel-caption">
                <div class="banner-text">
                  <p>讲座会议室图片展示</p>
                </div>
              </div>
            </div>

            <div class="item">
              <a href="#"><%= image_tag "huiyi.jpg", class: "img-responsive" %></a>
              <div class="carousel-caption">
                <div class="banner-text">
                  <p>讲座会议室图片展示</p>
                </div>
              </div>
            </div>

            <div class="item">
              <a href="#"><%= image_tag "huiyi2.jpg", class: "img-responsive" %></a>
              <div class="carousel-caption">
                <div class="banner-text">
                  <p>讲座会议室图片展示</p>
                </div>
              </div>
            </div>

            <div class="item">
              <a href="#"><%= image_tag "huiyi3.jpg", class: "img-responsive" %></a>
              <div class="carousel-caption">
                <div class="banner-text">
                  <p>讲座会议室图片展示</p>
                </div>
              </div>
            </div>
          </div>

          <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>
    </div>
  </div>
</div>