<div class="main-content">
  <div class="title-bread clearfix">
    <div class="content clearfix">
      <div class="left-bread pull-left">
        <h3><span>公司新闻</span><small>Company News</small></h3>
      </div>
      <div class="right-bread pull-right">&nbsp;</div>
    </div>
  </div>

  <div class="left-right">
    <div class="content clearfix">
      <div class="left-box pull-left">
        <div class="left-content">

          <% @news.each do |news| %>
          <div class="new-list clearfix">
            <div class="pull-left news-img"><%= image_tag news.image, width: "180", height: "130", alt: "新闻图片"%></div>
            <div class="pull-right news-main-text">
              <h4><%= link_to news.title, news %></h4>
              <div class="news-content news-detai">
                <%= news.content %>
              </div>
            </div>
          </div>
          <% end %>
          <div class="page-box clearfix">            
            <ul class="page-ul pull-right">
              <%= will_paginate @news %>
            </ul>
          </div>

        </div>
      </div>
      <%= render "right_bar" %>
    </div>
  </div>
</div>