<div class="top">
  <div class="top-inner">
    <div class="content">
      <%= link_to '登录', new_user_session_path %>
      <span class="line">|</span>
      <a href="#">注册</a>
    </div>
  </div>
</div>
<div class="nav">
  <div class="nav-inner">
    <div class="content">
      <div class="content-inner clearfix">
        <a class="pull-left" href="#"><%= image_tag "logo.png" %></a>
        <ul class="nav-dropdown pull-right">
          <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "首页", root_path %></li>
          <li class="<%= "active" if current_page?("") %> nav-dropdown-card">
            <a href="#">关于万门华</a>
            <ul>
              <li><a href="company-profile.shtml">公司简介</a></li>
              <li><a href="company-culture.shtml.shtml">公司文化</a></li>
              <li><a href="company-environment.shtml">工作环境与赠言</a></li>
            </ul>
          </li>
          <li class="<%= "active" if current_page?(project_description_index_path) %>"><%= link_to "项目简介", project_description_index_path %></li>
          <li class="<%= "active" if current_page?(news_index_path) %>"><%= link_to "公司新闻", news_index_path %></li>
          <li class="<%= "active" if current_page?(contact_index_path) %>"><%= link_to "联系我们", contact_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>