<div class="top">
  <div class="top-inner">
    <div class="content">
      <%= link_to '登录', new_user_session_path %>
      <span class="line">|</span>
      <a href="#">注册</a>
    </div>
  </div>
</div>
<div class="nav">
  <div class="nav-inner">
    <div class="content">
      <div class="content-inner clearfix">
        <a class="pull-left" href="#"><%= image_tag "logo.png" %></a>
        <ul class="nav-dropdown pull-right">
          <li class="<%= "active" if current_page?(root_path) %>"><%= link_to "首页", root_path %></li>
          <li class="<%= "active" if current_page?(info_path(2)) || current_page?(info_path(3)) || current_page?(info_path(4)) %> nav-dropdown-card">
            <a href="javascript:void(0)">关于万门华</a>
            <ul>
              <li><%= link_to "公司简介", info_path(2) %></li>
              <li><%= link_to "公司文化", info_path(3) %></li>
              <li><%= link_to "工作环境与赠言", info_path(4) %></li>
            </ul>
          </li>
          <li class="<%= "active" if current_page?(info_path(1)) %>"><%= link_to "项目简介", info_path(1) %></li>
          <li class="<%= "active" if current_page?(news_index_path) %>"><%= link_to "公司新闻", news_index_path %></li>
          <li class="<%= "active" if current_page?(contact_index_path) %>"><%= link_to "联系我们", contact_index_path %></li>
        </ul>
      </div>
    </div>
  </div>
</div>